@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Skyer";
    src: url("../src/assets/fonts/Skyer.otf");
}

@font-face {
    font-family: "Aeronaut";
    src: url("../src/assets/fonts/Aeronaut.otf");
}

@font-face {
    font-family: "Aquatico";
    src: url("../src/assets/fonts/Aquatico.otf");
}

.background {
    width: 100vw;
    height: 100vh;
}

.bg-image {
    background-image: url("./assets/london-bg.jpg");

    /* Full height */
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

.skyer {
    font-family: "Skyer", sans-serif;
}

.aeronaut {
    font-family: "Aeronaut", sans-serif;
}

.aquatico {
    font-family: "Aquatico", sans-serif;
}